<h1>Stupide Coach</h1>
<p>Your question</p>
  <form class="d-flex ms-4" action="/answer" data-turbo="false">
    <input class="form-control w-25 border border-dark" type="text" name="question" placeholder="Your questions" >
    <%# <input type="text" name="question"> %>
    <input class="btn btn-primary" type="submit" value="Ask!" >
  </form>
